* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
  }

.container {
    margin: auto;
    text-align: center;
    max-width: 600px;

    .image {
        width: 100px;
        height: auto;
    }
}

.nav {
    text-align: left;
}
